.button-send {
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  font-weight: 700;
  width: 200px;
  height: 50px;
  color: var(--background-color);
  background-color: var(--brand-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.button-send:hover, .button-send:focus {
  background-color: var(--main-button-color);
}