.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--brand-color);
}
.close-button__icon {
  cursor: pointer;
}
.close-button__icon:hover, .close-button__icon:focus {
  fill: var(--brand-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}