.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container:not(:first-child) {
  padding: 94px 0;
}
.container__portfolio {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
}