.footer {
  background-color: var(--background-color-title);
  margin: 0 auto;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (min-width: 480px) {
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .footer__list {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 76px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  color: var(--background-color);
  font-weight: 700;
  line-height: 1.19;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
}
@media (min-width: 480px) {
  .footer__logo {
    margin-bottom: 0;
    font-size: 26px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 28px;
  }
}
.footer__logo-web {
  color: var(--brand-color);
}
.footer__address {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 480px) {
  .footer__address {
    margin-right: 70px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .footer__address {
    text-align: center;
    width: auto;
    margin-right: 0;
  }
}
.footer__address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media (min-width: 480px) {
  .footer__address-list {
    text-align: left;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .footer__address-list {
    text-align: center;
  }
}
.footer__address-list li:not(:last-child) {
  margin-bottom: 12px;
}
.footer__address-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-link:hover, .footer__address-link:focus {
  color: var(--brand-color);
}
.footer__address-city {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--background-color);
}
.footer__address-city:hover, .footer__address-city:focus {
  color: var(--brand-color);
}