.order__button {
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--background-color);
  letter-spacing: 0.06em;
  line-height: 1.87;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 10px 32px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: block;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order__button:hover, .order__button:focus {
  background-color: var(--main-button-color);
}