.special {
  padding: 94px 0;
}
.special__visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.special__list-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  color: var(--header-color);
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .special__list-header {
    text-align: left;
  }
}
.special__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 480px) {
  .special__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .special__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 770px) {
  .special__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .special__list-unit {
    width: 47%;
  }
}
.special__list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
  min-width: 270px;
}
.special__icon {
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-background-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 480px) {
  .special__icon {
    width: auto;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .special__icon {
    width: auto;
  }
}
@media (min-width: 770px) {
  .special__icon {
    width: auto;
  }
}