.subscribe {
  position: relative;
  width: 100%;
}
@media (min-width: 480px) {
  .subscribe {
    margin-left: 93px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    margin-left: 0;
  }
}
.subscribe__header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 60px 0 20px 0;
  color: var(--background-color);
  text-align: center;
}
@media (min-width: 480px) {
  .subscribe__header {
    margin: 0 0 20px 0;
    text-align: left;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .subscribe__header {
    margin: 0 0 20px 0;
    text-align: center;
  }
}
.subscribe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 480px) {
  .subscribe__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .subscribe__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .subscribe__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.subscribe__input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  background-color: var(--background-color-title);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
}
@media (min-width: 480px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .subscribe__input {
    width: 450px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.subscribe__input::-webkit-input-placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-moz-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::-ms-input-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 16px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:focus {
  border: none;
  padding-left: 16px;
  color: var(--background-color);
}
.subscribe__telegram {
  width: 200px;
  height: 50px;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--background-color);
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: auto;
}
.subscribe__icon {
  margin-left: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 480px) and (max-width: 768px) {
  .subscribe__button {
    margin-top: 20px;
  }
}