.team {
  background-color: var(--team-background-color);
  margin: 0 auto;
  padding: 94px 0;
}
.team__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--header-color);
  text-align: center;
  background-color: var(--team-background-color);
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  .team__header {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.team__list {
  background-color: var(--team-background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 480px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 750px) and (max-width: 768px) {
  .team__list {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 480px) and (max-width: 750px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 770px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.team__li {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
}
@media (max-width: 480px) {
  .team__li {
    margin-bottom: 30px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .team__li {
    margin-bottom: 30px;
  }
}
.team__img {
  width: 100%;
}
@media (min-width: 480px) and (max-width: 768px) {
  .team__img {
    max-width: 354px;
    margin: auto;
  }
}
@media (min-width: 770px) {
  .team__img {
    width: auto;
  }
}
.team__name {
  font-weight: 500;
  line-height: 1.18;
  color: var(--header-color);
  text-align: center;
  margin-bottom: 10px;
}
.team__post {
  line-height: 1.18;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
}
.team__description {
  padding: 30px 0;
  width: 100%;
}