.work {
  padding-bottom: 94px;
}
.work__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--header-color);
  margin-bottom: 50px;
  text-align: center;
}
.work__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work__list {
  position: relative;
}
.work__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--background-color);
  background-color: var(--work-description-color);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 480px) {
  .work {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .work {
    display: none;
  }
}