.clients {
    padding: 94px 0;

    &__head {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.16;
        color: var(--header-color);
        margin-bottom: 30px;
        text-align: center;
        letter-spacing: 0.03em;

        @media (min-width: 480px) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }
    &__list {
        gap: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        
        @media (max-width: 480px) {
            width: 100%;
            flex-wrap: wrap;
        }
        @media (min-width: 480px) and (max-width: 768px) {
            max-width: 768px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media (min-width: 770px) {
            flex-direction: row;
            flex-wrap: nowrap;
        }  

    }
    &__item {
        width: 45%;

        @media (min-width: 480px) {
            width: calc((100% - 60px) / 6);
        }

        @media (min-width: 480px) and (max-width: 768px) {
            width: calc((100% - 60px) / 3);
        }
 
    }
    &__link {
        width: 210px;
        height: 92px;
        border: 1px solid var(--social-icons);
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

        @media (max-width: 480px) {
            width: 100%;
            margin-bottom: 50px;
        }
        @media (min-width: 770px) {
            width: auto;
        }   
    }
    &__link:hover, &__link:focus {
        border: 1px solid var(--brand-color);
    }
    &__link:hover .net__icon, &__link:focus .net__icon {
        fill: var(--brand-color);
    }
}