.header {
    border-bottom: 1px solid #ECECEC;
    width: 100%;
    margin: 0 auto;
    position: relative;

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__navigation {
        display: flex;

        @media (min-width: 480px) and (max-width: 768px) {
                       
        }
    }
    &__logo {
        display: flex;
        align-items: center;

        @media (max-width: 480px) {
            padding: 15px 0;
        }
    }

    &__logo-link {
        font-family: 'Raleway', sans-serif;
        color: var(--logo-color);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;

        @media (min-width: 480px) and (max-width: 768px) {

        }
    }
    &__logo-web {
        color: var(--brand-color);
    }
    &__navigation-link {
        color: var(--header-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        margin-right: 50px;
    }
    &__navigation-list {
        display: flex;
        justify-content: space-between;
    }
    &__navigation-link {
        position: relative;
        display: none;
        padding: 32px 0;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

        @media (min-width: 480px) {
            display: flex;
        }
        @media (min-width: 480px) and (max-width: 768px) {
            display: flex;
        }

    }
    &__navigation-link-main::after {
        content: '';
        position: absolute;
        bottom: -5px;
        right: 0px;
        width: 100%;
        height: 4px;
        background-color: var(--brand-color);
        border-radius: 2px;
    }
    &__navigation-link:hover, &__navigation-link:focus {
        color:var(--brand-color);
    }
    &__navigation-link-main {
        color: var(--brand-color);
    }
    &__contact {

        @media (min-width: 480px) and (max-width: 768px) {

        }
    }

    &__burger-menu {
        position: absolute;
        top: 10px;
        right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: var(--background-color);
        border: none;
        display: block;
    }
    &__burger-menu {
        @media (min-width: 480px) {
            display: none;
        }
    }
    &__icon:hover {
        fill: var(--brand-color);
        cursor: pointer;
    }
}