.join {
    width: 100%;
   
    @media (min-width: 480px) and (max-width: 768px) {
        width: auto;
        margin-right: 90px;
    }
    &__header {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
        color:var(--background-color);
        margin-top: 60px;
        text-align: center;

        @media (min-width: 480px) {
            margin-top: 0; 
            text-align: left;
        }
        @media (min-width: 480px) and (max-width: 768px) {
            text-align: center;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__link {
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color:var(--footer-icons);
        fill: var(--background-color);
        display: flex;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover, &__link:focus {
        background-color:var(--brand-color)
    }
}