.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    padding: 48px 40px;

    &.is-open {
        display: block;
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: var(--background-color);
        border: none;
    }
    &__close:hover {
        fill: var(--brand-color);
        cursor: pointer;
    }
    &__navigation-link-main {
        color: var(--brand-color);
    }
    &__navigation {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

    }
    &__list-nav {
        display: inline-block;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--header-color);
    }
    &__list-nav-item {
        &:not(:last-of-type) {
            margin-bottom: 32px;
        }
    }
    &__list-contacts-item {
        &:not(:last-of-type) {
            margin-bottom: 32px;
        }
    }
    &__connection-number {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: var(--brand-color);
    }
    &__connection {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    &__list-social {
        margin-top: 64px;
        display: flex;
        gap: 20px;
        padding-bottom: 50px;
    }
    &__list-social-item {
        color: var(--brand-color);
    }
}


