.special {
    padding: 94px 0;

    &__visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }
    &__list-header {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        text-transform: uppercase;
        text-align: center;
        color: var(--header-color);
        margin-bottom: 10px;

        @media (min-width: 480px) {
            text-align: left;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 480px) {
            flex-direction: column;  
        }

        @media (min-width: 480px) and (max-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media (min-width: 770px) {
            flex-direction: row;
          }
    }
    &__list-unit {
        @media (min-width: 480px) and (max-width: 768px) {
            width: 47%;
        }
    }
    &__list-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: var(--text-color);
        min-width: 270px;

        @media (min-width: 480px) and (max-width: 768px) {

        }
    }
    &__icon {
        width: 450px;
        height: 120px;
        margin-bottom: 30px;
        background-color:var(--team-background-color);
        align-items: center;
        justify-content: center;
        display: flex;

        @media (max-width: 480px) {
            width: auto;
        }
        @media (min-width: 480px) and (max-width: 768px) {
            width: auto;

        }
        @media (min-width: 770px) {
            width: auto;
          }
    }
}