:root {
    --brand-color: #2196F3;
    --logo-color: #000000; 
    --background-color: #FFFFFF;
    --header-color: #212121;
    --background-color-title: #2F303A;
    --main-button-color: #188CE8;
    --team-background-color: #F5F4FA;
    --text-color: #757575;
    --social-icons: #AFB1B8;
    --footer-icons: #FFFFFF1A;
    --work-description-color: rgba(47, 48, 58, 0.8);
  }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
}
body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
img {
    display: block;
}
a {
    text-decoration: none;
    color: var(--header-color);
}
li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}