.footer {
    background-color:var(--background-color-title);
    margin: 0 auto;
    padding: 60px 0;
    display: flex;

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        align-items: baseline;

        @media (min-width: 480px) {
            flex-direction: row; 
        }
        @media (min-width: 480px) and (max-width: 768px) {
            max-width: 768px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 76px;
            justify-content: space-between;
        }
    }
    &__logo {
        font-family: 'Raleway', sans-serif;
        color: var(--background-color);
        font-weight: 700;
        line-height: 1.19;
        margin-bottom: 20px;
        display: flex;
        margin-bottom: 28px; 
        justify-content: center;
        font-size: 24px;

        @media (min-width: 480px) {
            margin-bottom: 0; 
            font-size: 26px;
            justify-content: left;
        }

        @media (min-width: 480px) and (max-width: 768px) {
            justify-content: center;
            padding-bottom: 28px;
        }
    }
    &__logo-web {
        color: var(--brand-color);
    }
    &__address {
        width: 100%;
        justify-content: center;

        @media (min-width: 480px) {
            margin-right: 70px; 
        }

        @media (min-width: 480px) and (max-width: 768px) {
            text-align: center;
            width: auto;
            margin-right: 0;
        }
    }
    &__address-list {
        display: flex;
        flex-direction: column;
        text-align: center;

        @media (min-width: 480px) {
            text-align: left; 
        }
        @media (min-width: 480px) and (max-width: 768px) {
            text-align: center; 
        }
    }
    &__address-list li:not(:last-child) {
        margin-bottom: 12px;
    }
    &__address-link {
        text-decoration: none;
        font-size: 14px;
        line-height: 1.7;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__address-link:hover, &__address-link:focus {
        color: var(--brand-color);
    }
    &__address-city {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--background-color);
    }
    &__address-city:hover, &__address-city:focus {
        color: var(--brand-color);
    }
}