.form {

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;

        @media (min-width: 480px) {
            line-height: 23px;
        }
    }
    &__label {
        display: block;
        margin: 10px 0 4px 0;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: var(--text-color);
        cursor: pointer;
    }
    &__control {
        position: relative;
    }
    &__input {
        width: 100%;
        padding: 11px 11px 11px 33px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
    }
    &__input:hover, &__input:focus {
        border-color: var(--brand-color);
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        fill: currentcolor;
        cursor: pointer;
    }
    &__input:hover + &__icon, &__input:focus + &__icon {
        fill: var(--brand-color);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__textarea {
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        cursor: pointer; 
        outline: none;  
        margin-bottom: 20px;
    }
    &__textarea::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    &__textarea:hover, &__textarea:focus {
        border-color: var(--brand-color);
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__checkbox-input {
        animation: none; 
    }
    &__checkbox-label {
        position: relative;
        padding-left: 27px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.03em;
        color: var(--text-color);  

        @media (min-width: 480px) {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em; 
        }

    }
    &__checkbox-label::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 15px;
        border: 2px solid var(--header-color);
        border-radius: 2px;
    }
    &__checkbox-label::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 15px;
        background-image: url(../images/icon\ check.jpg);
        opacity: 0;
    }
    &__checkbox-input:checked + &__checkbox-label::after {
        opacity: 1;
    }
    &__checkbox-link {
        color: var(--brand-color);
        text-decoration-line: underline var(--brand-color);
    }
}