.subscribe {
    position: relative;
    width: 100%;

    @media (min-width: 480px) {
        margin-left: 93px; 
    }
    @media (min-width: 480px) and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        margin-left: 0; 
    }

    &__header {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 60px 0 20px 0;
        color:var(--background-color);
        text-align: center;

        @media (min-width: 480px) {
            margin: 0 0 20px 0;
            text-align: left; 
        }
        @media (min-width: 480px) and (max-width: 768px) {
            margin: 0 0 20px 0;
            text-align: center; 

        }
    }
    &__block {
        display: flex;
        flex-direction: column;

        @media (min-width: 480px) {
          flex-direction: row; 
        }
        @media (min-width: 480px) and (max-width: 768px) {
            flex-direction: column;
            display: block;
        }
    }
    &__div {
        @media (min-width: 480px) and (max-width: 768px) {
            display: flex;
            justify-content: center;

        }
    }
    &__input {
        width: 100%;
        margin-bottom: 20px;
        height: 50px;
        background-color: var(--background-color-title);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        cursor: pointer;

        @media (min-width: 480px) {
            width: 358px;
            margin-bottom: 0;
        }
        @media (min-width: 480px) and (max-width: 768px) {
            width: 450px;
            justify-content: center;
        }
    }
    &__input::placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        letter-spacing: 0.03em;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.6);
    }
    &__input:focus {
        border: none;
        padding-left: 16px;
        color: var(--background-color);
    }
    &__telegram {
        width: 200px;
        height: 50px;
        position: relative;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: var(--background-color);
        margin-left: 12px;
        padding: 10px 62px 10px 28px;
        background-color: var(--brand-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }
    &__icon {
        margin-left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__button {
        display: flex;
        justify-content: center;

        @media (min-width: 480px) and (max-width: 768px) {
            margin-top: 20px;
        }
    }
}