.team {
    background-color: var(--team-background-color);
    margin: 0 auto;
    padding: 94px 0;

    &__header {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--header-color);
        text-align: center;
        background-color: var(--team-background-color);
        margin-bottom: 30px;

        @media (min-width: 480px) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }
    &__list {
        background-color: var(--team-background-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
        
        @media (min-width: 480px) {
            display: flex;
            flex-direction: row;
        }

        @media (min-width: 480px) and (max-width: 768px) {
            max-width: 768px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    &__li {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: var(--background-color);

        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
        @media (min-width: 480px) and (max-width: 768px) {
            margin-bottom: 30px;
        }
    }
    &__img {
        width: 450px;

        @media (min-width: 480px) {
            width: 270px;
        }
        @media (min-width: 480px) and (max-width: 768px) {
            width: 354px;
        }
    }
    &__name {
        font-weight: 500;
        line-height: 1.18;
        color: var(--header-color);
        text-align: center;
        margin-bottom: 10px;
    }
    &__post {
        line-height: 1.18;
        color: var(--text-color);
        text-align: center; 
        margin-bottom: 16px;
    }
    &__description {
        padding: 30px 0;
        width: 100%;
    }
}